<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
   {{>navbar}}
    <!-- Main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left-side_div -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                      <figure>
                        <img src="images/about.avif" alt="thapa" class="img-fluid" title="thapa technical">
                      </figure>
                    </div>
                    
                    <!-- right_side_div -->
                    <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to Weather App</p>
                      <h1>I Am a <span class="text_clr">Mern Stack</span> Developer</h1>
                      <a href="#"><button>About me</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>
</html>